<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Survey Coke or Pepsi</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width initial-scale=1.0" />
    <meta name="author" content="Marc Preston" />
    <meta name="keyword" content="coke pepsi" />
    <meta name="description" content="Coke or pepsi survey" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/normalize.css')}}"/>
    <link rel="stylesheet" href="static/css/styles.css" />
  </head>
  <body>
    <header>
      <h1>Coke or Pepsi</h1>
    </header>
    {% block content %}
    {% endblock %}
  </body>
</html>